body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
    margin-left: 50px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
    font-family: sans-serief;
    background-color: lightgreen;
    padding-left: 50px;
    padding-right:50px;
    text-align: center;
}

